<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block page_title %}Query Auth Sample Implementation{% endblock %}</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="/css/custom.css">
    </head>

    <body>
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li><a href="{{ baseUrl() }}">Home</a></li>
                    <li><a href="{{ baseUrl() }}/get-example">GET Example</a></li>
                    <li><a href="{{ baseUrl() }}/post-example">POST Example</a></li>
                    <li><a href="{{ baseUrl() }}/replay-example">Replay Prevention</a></li>
                </ul>
                <h3 class="text-muted">Query Auth Sample Implementation</h3>
            </div>

            {% block content %} {% endblock %}

            <div class="footer">
                <p>
                    <em>Copyright &copy; {{ "now"|date('Y') }} <a href="http://about.me/jeremykendall">Jeremy Kendall</a></em>
                    <span class="pull-right"><em>View Query Auth Sample Implementation on <a href="https://github.com/jeremykendall/query-auth-impl">GitHub</a></em></span>
                </p>
            </div>

        </div> <!-- /container -->

        <script src="http://code.jquery.com/jquery.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </body>
</html>
